@media (max-width: 1024px) {
    body {
        background-image: url('bg/bg-1024.png');
    }

    .main-card__pic_start {
        max-width: 284px;
        max-height: 257px;
        top: 85px;
    }

    .childs-row__start {
        margin-top: 77px;
        gap: 44px;
    }

    .childs-row__not-start {
        margin-top: 76px;
        gap: 21px;
    }

    .mini-card__not-start {
        width: 228px;
    }

    .mini-card-description {
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    body {
        background-image: url('bg/bg-768.png');
    }

    .main-row {
        margin-top: 123px;
    }

    .main-card__pic_start {
        max-width: 444px;
        max-height: 401px;
    }

    .childs-row {
        margin-top: 113px;
        margin-bottom: 127px;
    }

    .childs-row__not-start {
        margin-bottom: 162px;
    }

    .mini-card__not-start {
        width: 234px;
    }

    .text-icon-number {
        font-size: 29px;
    }
}

@media (max-width: 600px) {
    body {
        background-image: url('bg/bg-320.png');
    }

    .main-row {
        min-width: 320px;
        width: 90vw;
    }

    .back-button-container {
        top: 7vw;
    }

    .image-button__right-button {
        top: 7vw;
    }

    .main-card__pic_start {
        width: 80vw;
        height: auto;
    }

    .main-card__pic_not-start {
        width: 66vw;
    }

    /*Стрелочки по бокам от главной карточки*/
    .image-button .button-arrow {
        width: 38px;
        height: 38px;
    }
}

@media (max-width: 320px) {
    .body {
        background-size: 320px auto;
    }

    .main-row {
        min-width: 262px;
        width: 262px;
    }

    .main-row__start {
        margin-top: 60px;
    }

    .main-row__not-start {
        margin-top: 86px;
    }

    .back-button-container {
        top: 36px;
    }

    .back-button {
        font-size: 17px;
    }

    .image-button__right-button {
        top: 29px;
    }

    .image-button__right-button img {
        width: 40px;
        height: 36px;
    }

    .main-card__pic_start {
        max-width: 202px;
        max-height: 181px;
    }

    .main-card__pic_not-start {
        max-width: 168px;
        max-height: 168px;
    }

    /*Стрелочки по бокам от главной карточки*/
    .image-button .button-arrow {
        width: 36px;
        height: 36px;
    }

    #main-text {
        font-size: 41px;
    }

    .state-image {
        max-width: 120px;
        max-height: 120px;
    }

    /*картинка иконки*/
    .icon-number {
        width: 30px;
        height: 33px;
    }

    .label-card {
        font-size: 19;
    }

    .rod {
        background-image: url('main/rod-mini.svg');
        height: 57px;
        margin-top: 5vw;
    }
    
    .childs-row__start {
        margin-top: 59px;
        margin-bottom: 70px;
    }

    .childs-row__not-start {
        margin-top: 17px;
        gap: 15px;
        margin-bottom: 41px;
    }

    .mini-card__not-start {
        padding-top: 29px;
        width: 133px;
        height: 223px;
    }

    .mini-card__image {
        max-width: 120px;
        max-height: 120px;
    }

    .mini-card__name {
        margin-top: 23px;
        font-size: 19px;
    }

    .childs-row__not-start .mini-card__name {
        margin-top: 14px;
    }

    .text-icon-number {
        font-size: 14px;
    }
}