@media (max-width: 1024px)
{
    .startMainPicture
    {
        max-width: 284px;
        max-height: 257px;
        top: 85px;
    }
    #row-childs
    {
        margin-top: 77;
        gap: 44px;
    }
}
@media (max-width: 768px)
{
    .startMainPicture
    {
        max-width: 444px;
        max-height: 401px;
        margin-top: 123px;
    }
    #row-childs
    {
        margin-top: 77;
    }
}