body {
    margin: 0;
    height: 100vh;
    background-image: url('bg/bg.png');
    background-size: cover;
    background-position: top;
}

.container {
    text-align: center;
}

.text
{
    background: none;
    border: none;
    background: linear-gradient(180deg, #FFD28D 47.92%, #352000 100%);
    color: transparent;
    background-clip: text;
    text-decoration: underline;
    cursor: pointer;
    font-family: 'Crimson Text', serif;
    font-size: 26px;
}

.text-button {
    background: none; /* Убираем фон */
    border: none; /* Убираем рамку */
    background: linear-gradient(180deg, #FFD28D 47.92%, #352000 100%);
    -webkit-background-clip: text; /* Для WebKit-браузеров */
    color: transparent; /* Делаем текст прозрачным */
    background-clip: text; /* Для остальных браузеров */
    text-decoration: underline; /* Подчеркивание текста */
    cursor: pointer; /* Указатель мыши */
    padding: 0; /* Убираем отступы */
    margin: 0; /* Убираем внешние отступы */
    font-family: 'Crimson Text', serif; /* Указываем шрифт */
    font-size: 26px;
}

.text-button:hover {
    color: darkblue; /* Меняем цвет при наведении */
}

.image-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    min-height: 30px;
}

.image-button img{
    display: block; /* Убираем отступы под изображением */
    width: auto; /* Можно задать ширину */
    height: auto; /* Можно задать высоту */
}

.image-button .corner-image {
    width: 100px;  /* Укажите нужный размер */
    height: auto;  /* Автоматическое изменение высоты */
}

.image-button .corner-image {
    width: 100px;  /* Укажите нужный размер */
    height: auto;  /* Автоматическое изменение высоты */
}

.image-button .button-arrow {
    width: 100%;
    height: auto;
}

/*Правая стрелочка*/
#right-arrow {
    transform: rotate(180deg);
}

#left-button 
{
    position: absolute;
    left: 7vw; /* Прилепить к правому краю */
    top: 88px; /* Прилепить к верхнему краю */
    background: none; /* Убираем фон */
    border: none; /* Убираем рамку */
    background: linear-gradient(180deg, #FFD28D 47.92%, #352000 100%);
    -webkit-background-clip: text; /* Для WebKit-браузеров */
    color: transparent; /* Делаем текст прозрачным */
    background-clip: text; /* Для остальных браузеров */
    text-decoration: underline; /* Подчеркивание текста */
    cursor: pointer; /* Указатель мыши */
    padding: 0; /* Убираем отступы */
    margin: 0; /* Убираем внешние отступы */
    font-family: 'Crimson Text', serif; /* Указываем шрифт */
    font-size: 26px;
}

#right-button 
{
    position: absolute;
    right: 7vw; /* Прилепить к правому краю */
    top: 88px; /* Прилепить к верхнему краю */
    width: 100px; /* Укажите нужный размер */
    height: auto; /* Автоматическое изменение высоты */
}

#main
{
    display: flex;         /* Используем flexbox */
    flex-direction: column; /* Располагаем элементы сверху вниз */
    align-items: center
}

.row {
    display: flex;
    justify-content: center;
    align-items: center
}

#rowChilds
{
    flex-wrap: wrap;
}

.block {
    flex: 0 0 auto; /* Не позволяет элементам сжиматься */
    width: 200px; /* Ширина элемента (можете изменить по вашим требованиям) */
    margin: 10px; /* Отступы между элементами */
}

.button {
    padding: 10px 20px; /* Отступы кнопки */
    font-size: 16px; /* Размер шрифта */
}

.label {
    display: block; /* Делаем надпись блочной */
    margin-top: 5px; /* Отступ сверху */
    font-size: 14px; /* Размер шрифта надписи */
    color: #555; /* Цвет надписи */
}

#main-card {
    display: flex;
    flex-direction: column;
}

#main-pic {
    position: relative;
    display: inline-block;
}

#main-text {
    font-size: '61px';
}

#description-text {
    font-size: 17px;
}

#icon 
{
    position: absolute;
    bottom: 20px;
    left: 35px;
    display: flex; /* Включаем flex-контейнер */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
}

.main-image {
    max-width: 359px;
    height: auto;
    margin-top: 67px;
    margin-bottom: 20px;
}

#text-icon-number {
    position: absolute; /* Абсолютное позиционирование для центрирования */
    top: 50%; /* Положение по вертикали */
    left: 50%; /* Положение по горизонтали */
    transform: translate(-50%, -50%); /* Центрируем текст относительно его размера */
}

.state-image
{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%; /* Для округления картинки */
    overflow: hidden; /* Для обрезки содержимого, выходящего за рамки */
    border: 2px solid transparent; /* Ширина бордера, цвет - прозрачный */
    border-color: #DBAE64; /* Устанавливает цвет */
}
