

body {
    margin: 0;
    height: 100vh; /* Устанавливаем высоту body равной высоте экрана */
    overflow: hidden; /* Скрываем часть изображения, выходящую за пределы экрана */
    background-image: url('bg/bg.png');
    background-size: cover; /* чтобы изображение полностью заполняло экран */
    background-position: top; /* Показываем верхнюю часть изображения */
}

.container {
    text-align: center;
}

.text
{
    background: none; /* Убираем фон */
    border: none; /* Убираем рамку */
    background: linear-gradient(180deg, #FFD28D 47.92%, #352000 100%);
    -webkit-background-clip: text; /* Для WebKit-браузеров */
    color: transparent; /* Делаем текст прозрачным */
    background-clip: text; /* Для остальных браузеров */
    text-decoration: underline; /* Подчеркивание текста */
    cursor: pointer; /* Указатель мыши */
    font-family: 'Crimson Text', serif; /* Указываем шрифт */
    font-size: 26px;
}

.text-button {
    position: absolute;
    left: 130px; /* Прилепить к правому краю */
    top: 88; /* Прилепить к верхнему краю */
    background: none; /* Убираем фон */
    border: none; /* Убираем рамку */
    background: linear-gradient(180deg, #FFD28D 47.92%, #352000 100%);
    -webkit-background-clip: text; /* Для WebKit-браузеров */
    color: transparent; /* Делаем текст прозрачным */
    background-clip: text; /* Для остальных браузеров */
    text-decoration: underline; /* Подчеркивание текста */
    cursor: pointer; /* Указатель мыши */
    padding: 0; /* Убираем отступы */
    margin: 0; /* Убираем внешние отступы */
    font-family: 'Crimson Text', serif; /* Указываем шрифт */
    font-size: 26px;
}

.text-button:hover {
    color: darkblue; /* Меняем цвет при наведении */
}

.image-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.image-button .corner-image {
    width: 100px;  /* Укажите нужный размер */
    height: auto;  /* Автоматическое изменение высоты */
}

.image-button .corner-image {
    width: 100px;  /* Укажите нужный размер */
    height: auto;  /* Автоматическое изменение высоты */
}

.image-button .button-main-image {
    width: 100%;  /* Укажите нужный размер */
    height: auto;  /* Автоматическое изменение высоты */
}



#left-button 
{
    position: absolute;
    left: 7vw; /* Прилепить к правому краю */
    top: 88px; /* Прилепить к верхнему краю */
    background: none; /* Убираем фон */
    border: none; /* Убираем рамку */
    background: linear-gradient(180deg, #FFD28D 47.92%, #352000 100%);
    -webkit-background-clip: text; /* Для WebKit-браузеров */
    color: transparent; /* Делаем текст прозрачным */
    background-clip: text; /* Для остальных браузеров */
    text-decoration: underline; /* Подчеркивание текста */
    cursor: pointer; /* Указатель мыши */
    padding: 0; /* Убираем отступы */
    margin: 0; /* Убираем внешние отступы */
    font-family: 'Crimson Text', serif; /* Указываем шрифт */
    font-size: 26px;
}

#right-button 
{
    position: absolute;
    right: 7vw; /* Прилепить к правому краю */
    top: 88px; /* Прилепить к верхнему краю */
    width: 100px; /* Укажите нужный размер */
    height: auto; /* Автоматическое изменение высоты */
}

#main
{
    display: flex;         /* Используем flexbox */
    flex-direction: column; /* Располагаем элементы сверху вниз */
    align-items: center
}

.row {
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам переходить на новую строку */
    justify-content: center; /* Центрирует элементы по горизонтали */
}
.block {
    flex: 0 0 auto; /* Не позволяет элементам сжиматься */
    width: 200px; /* Ширина элемента (можете изменить по вашим требованиям) */
    margin: 10px; /* Отступы между элементами */
}
.button {
    padding: 10px 20px; /* Отступы кнопки */
    font-size: 16px; /* Размер шрифта */
}
.label {
    display: block; /* Делаем надпись блочной */
    margin-top: 5px; /* Отступ сверху */
    font-size: 14px; /* Размер шрифта надписи */
    color: #555; /* Цвет надписи */
}



.main-image {
    max-width: 359px;
    height: auto;
    margin-top: 10%;
    margin-bottom: 20px;
}

.state-image
{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%; /* Для округления картинки */
    overflow: hidden; /* Для обрезки содержимого, выходящего за рамки */
    border: 2px solid transparent; /* Ширина бордера, цвет - прозрачный */
    border-color: #DBAE64; /* Устанавливает цвет */
}
